services:
  whatsnau:
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@shared_postgres:5432/${DB_NAME}?schema=public
      - REDIS_HOST=shared_redis
    depends_on: []
    networks:
      - shared-mesh

  postgres:
    profiles: [disabled]

  redis:
    profiles: [disabled]

networks:
  shared-mesh:
    external: true
