services:
  whatsnau:
    build: 
      context: ./packages/backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - '3000:3000'
    env_file:
      - ./packages/backend/.env
    # Connects to shared-mesh network defined in override
    networks:
      - default
      - shared-mesh

networks:
  shared-mesh:
    external: true
