services:
  app:
    image: ghcr.io/samuelaure/whatsnau-backend:latest
    build: 
      context: .
      dockerfile: packages/backend/Dockerfile
    restart: always
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST:-postgres}:5432/${DB_NAME}?schema=public
      - REDIS_HOST=${REDIS_HOST:-redis}
    networks:
      - app-network

  migration-runner:
    image: ghcr.io/samuelaure/whatsnau-backend:latest
    build: 
      context: .
      dockerfile: packages/backend/Dockerfile
    command: npx prisma migrate deploy
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST:-postgres}:5432/${DB_NAME}?schema=public
    networks:
      - app-network

  worker:
    image: ghcr.io/samuelaure/whatsnau-backend:latest
    build: 
      context: .
      dockerfile: packages/backend/Dockerfile
    command: npm run start:worker
    restart: always
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST:-postgres}:5432/${DB_NAME}?schema=public
      - REDIS_HOST=${REDIS_HOST:-redis}
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
